{% extends "pos_app/base.html" %}

{% block content %}
<div class="container-fluid p-4" style="background-color: rgb(230, 230, 230); height: 100% !important;">
    <div class="pos_container d-flex justify-content-between" style=" height: 100% !important;">
        
        <!-- Left Side - 75% -->
        <div class="left_side w-75 me-2" style="border-radius: 5px; height: 100% !important;">
           <div class="d-flex flex-column shadow" style="background-color: white;">
            <div class="row p-2">
                <div class="col-12 d-flex justify-content-end">
                    <div class="d-flex justify-content-between">
                        <input class="text-white" id="search" type="text" placeholder="search items here"
                            style="height: 40px; border-radius: 20px; background-color: rgb(170, 170, 170); padding: 15px; border: none; cursor: pointer;">
                        <i class="fa-solid fa-magnifying-glass"
                            style="background-color: rgb(2, 119, 55); border-radius: 50%; padding: 12px; color: white; margin-left: 5px;"></i>
                    </div>
                </div>
            </div>
            <div class="row p-3 row-cols-1 overflow-auto">
                {% for product in products %}
                <div class="col-lg-2 col-md-4 col-sm-12 mb-1" style="cursor: pointer;">
                    <div class="card" style="border-radius: 5px !important; overflow: hidden;">
                        <img src="{{ product.image.url }}" class="card-image-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ product.name }}</h5>
                            <h6 class="text-center text-success">${{ product.price }}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
            <style>
                .box{
                    border: 2px solid green;
                    border-radius: 5px;
                }
                .icon{
                    display: flex;
                    justify-content: center;
                }
                .green-shadow {
        box-shadow: 0 4px 12px rgba(0, 128, 0, 0.2);
    }

            </style>
            <div class="category container-fluid d-flex mt-2 justify-content-between" >
              <div class="row">
                            <div class="col d-flex flex-column justify-content-center px-5 py-3 me-4"
                            style="border-radius: 5px; border: 2px solid green; background-color: white; box-shadow: 
                            0 4px 10px rgba(0, 128, 0, 0.3), 
                            0 2px 4px rgba(0, 128, 0, 0.2);">
                            
                        <div class="icon d-flex justify-content-center" style="color: green">
                            <i class="fa-solid fa-mug-saucer"></i>
                        </div>
                        <h4 style="color: green">
                            Coffe
                        </h4>
                    </div>     
                    <div class="col d-flex flex-column justify-content-center px-5 py-3 me-4"
                    style="border-radius: 5px; border: 2px solid green; background-color: white; box-shadow: 
                    0 4px 10px rgba(0, 128, 0, 0.3), 
                    0 2px 4px rgba(0, 128, 0, 0.2);">
                    
                <div class="icon d-flex justify-content-center" style="color: green">
                    <i class="fa-solid fa-mug-saucer"></i>
                </div>
                <h4 style="color: green">
                    Coffe
                </h4>
            </div>  
            <div class="col d-flex flex-column justify-content-center px-5 py-3 me-4"
            style="border-radius: 5px; border: 2px solid green; background-color: white; box-shadow: 
            0 4px 10px rgba(0, 128, 0, 0.3), 
            0 2px 4px rgba(0, 128, 0, 0.2);">
            
        <div class="icon d-flex justify-content-center" style="color: green">
            <i class="fa-solid fa-mug-saucer"></i>
        </div>
        <h4 style="color: green">
            Coffe
        </h4>
    </div>  
    <div class="col d-flex flex-column justify-content-center px-5 py-3 me-4"
    style="border-radius: 5px; border: 2px solid green; background-color: white; box-shadow: 
    0 4px 10px rgba(0, 128, 0, 0.3), 
    0 2px 4px rgba(0, 128, 0, 0.2);">
    
<div class="icon d-flex justify-content-center" style="color: green">
    <i class="fa-solid fa-mug-saucer"></i>
</div>
<h4 style="color: green">
    Coffe
</h4>
</div>  
                          
              </div>
             </div>
        </div>


        <!-- Right Side (Checkout) - 25% -->
        <div class="right_side w-25 shadow ms-2" style="border-radius: 5px; height: 100% !important; background-color: white;">
            <p class="text-center pt-2" style="font-size: 17px; font-weight: 500;">Check out</p>
            <div class="table_container">
                <table class="table">
                    <thead style="background-color: rgb(219, 219, 219);">
                        <tr style="color: rgb(175, 175, 175);">
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr style="color: rgb(122, 122, 122); font-weight: 500; font-size: 17px;">
                            <td style="padding: 20px;"><i class="fa-solid fa-bottle-water"></i> Ice latte</td>
                            <td style="padding: 20px;"><i class="fa-solid fa-minus"></i> 2 <i class="fa-solid fa-circle-plus"></i></td>
                            <td style="padding: 20px;">$5.25</td>
                        </tr>
                        <tr style="color: rgb(122, 122, 122); font-weight: 500; font-size: 17px;">
                            <td style="padding: 20px;"><i class="fa-solid fa-bottle-water"></i> Ice latte</td>
                            <td style="padding: 20px;"><i class="fa-solid fa-minus"></i> 2 <i class="fa-solid fa-circle-plus"></i></td>
                            <td style="padding: 20px;">$5.25</td>
                        </tr>
                        <tr style="color: rgb(122, 122, 122); font-weight: 500; font-size: 17px;">
                            <td style="padding: 20px;"><i class="fa-solid fa-bottle-water"></i> Ice latte</td>
                            <td style="padding: 20px;"><i class="fa-solid fa-minus"></i> 2 <i class="fa-solid fa-circle-plus"></i></td>
                            <td style="padding: 20px;">$5.25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
