{% extends "pos_app/base.html" %}

{% block title %}
    POS | Report
{% endblock title %}

{% block content %}
    <div class="container p-3 d-flex justify-content-around w-100 h-100" >
        
        <div class="sale_summary w-75 p-4 shadow-new bg-white" style="height: 520px !important; overflow-y: auto !important;" >
            <h1 class="text-start fs-3 fw-bold ">Sale Summary</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Orders</th>
                        <th>Revenue</th>
                        <th>Cashier</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <section class=" d-flex flex-column m-0 ms-2 p-4 shadow-new bg-white w-25" style="height: 100% !important; ">
            <h1 class="text-start fs-3 fw-bold ">Top Selling Product</h1>
            <div class="mt-4 pt-2" style="height: 550px !important; overflow-y: auto !important">
                <table class="table table-hover position-relative">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity sold</th>
                        </tr>
                    </thead>
                    <tbody class="overflow-auto" id="top_selling_product">
        
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock content %}
    