<div class="cashier_conatiner w-75 p-3 m-2 my-3 shadow-new" style="height: 400px;">
    <h1 class="text-start fs-3 fw-bold">Cashiers</h1>
    <header class="text-end">
        <button class="btn-new shadow-new py-2 px-4 fs-5 fw-bold text-white" id="a">New</button>
    </header>
    <div class="table_container_cashier W-100 overflow-auto" style="height: 300px;">
        <table class="table table-hover W-100 text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>